@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
  background: #000;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

/* animation */

@keyframes animate {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: 1000px;
  }
}

@keyframes animate2 {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: -1000px;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    bottom: -10rem;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes slide-left {
  from {
    left: 50%;
    opacity: 0;
  }

  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes slide-right {
  from {
    right: 50%;
    opacity: 0;
  }

  to {
    right: 0;
    opacity: 1;
  }
}

@keyframes swap-out {
  0% {
    transform: translatex(0);
    opacity: 1;
  }

  50% {
    transform: translatex(50%);
    opacity: 0;
  }

  100% {
    transform: translatex(100%);
  }
}

/* animation */

/* scroll bar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* scroll bar */

.menu {
  background-color: #ffffff;
}

/* navegation */

#mySidenav a {
  position: fixed;
  left: -99px;
  transition: 0.3s;
  padding: 10px;
  width: 150px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
  z-index: 1000;
}

#mySidenav a:hover,
#mySidenav a.aberto {
  left: 0;
}

#home {
  top: 25%;
  background-color: #140F2D;
}

#sobre-nav {
  top: 31.25%;
  background-color: #9BC4BC;
}

#help {
  top: 37.5%;
  background-color: #8DDBE0;
}

#projects {
  top: 43.75%;
  background-color: #60AFFF;
}

#contact {
  top: 50%;
  background-color: #14BDEB;
}

/* navegation */

/* pagina inicial */

section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

section #text {
  position: absolute;
  color: #fff;
  font-size: 10vw;
  text-align: center;
  line-height: 0.55em;
  font-family: 'Poppins', sans-serif;
  transform: translateY(-50%);
}

#btn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  background: #e5e5e5;
  color: #000;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 2px;
  border-radius: 40px;
  transform: translateY(100px);

}

section #text span {
  color: #fff;
  font-size: 0.20em;
  letter-spacing: 2px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

section::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: -moz-radial-gradient(to top, #fff, transparent);
  z-index: 10;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

/* pagina inicial */

/* waves */

section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

section .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url('../image/wave.png');
  background-size: 1000px 100px;
}

section .wave.wave1 {
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

section .wave.wave2 {
  animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}

section .wave.wave3 {
  animation: animate 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}

section .wave.wave4 {
  animation: animate2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}

/* waves */

/* about */

.ron {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 2em;
  -webkit-box-shadow: -3px 22px 13px 10px rgba(0, 0, 0, 0.11);
  box-shadow: -3px 22px 13px 10px rgba(0, 0, 0, 0.11);
  transition: 1s ease-in-out;
  border-radius: 30px;
}

.ron:hover {
  -webkit-box-shadow: 50px 22px 13px 10px rgba(0, 0, 0, 0.11);
  box-shadow: 50px 22px 13px 10px rgba(0, 0, 0, 0.11);
}

.content {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 2em;
}

.content h1 {
  text-transform: uppercase;
  color: #140F2D;
}

.content h2 {
  font-weight: normal;
  font-size: 20px;
}

.content p {
  padding-top: 1em;
  font-size: 20px;
}

.content p::first-letter {
  font-size: 4rem;
  font-weight: bold;
  float: left;
  margin: 6px 3px;
  color: #140F2D;
}

.content hr {
  max-width: 100px;
  height: 5px;
  background: #140F2D;
}

.image {
  padding-top: 1em;
  max-width: 400px;
  margin: 0 auto;
}

img {
  border-radius: 20px;
  max-width: 100%;
  height: auto;
}

.sobre {
  height: 500px;
  background-color: #ffffff;
  clip-path: ellipse(66% 100% at 66% 0%);
  width: 100%;
  height: 100vh;
}

/* about */

/* animais */

.animais {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-color: #fff;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/* animais */

#ajude {
  height: 600px;
  background-color: red;
}

#contato {
  height: 600px;
  background-color: green;
}

/* about */

.back-video {
  position: absolute;
  top: 2em;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-bottom: 4em;


  border-radius: 30px;
}